In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import skew
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [59]:
#as there is no inbuilt function for adjusted r2 so we define a adjusted r2 function and pass all the parameters
def AdjR2(r,k):
    n=len(df)
    AdjR2=1-(1-r)*((n-1)/(n-(k+1)))
    return AdjR2

In [60]:
df=pd.read_csv("house.csv")

In [61]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [62]:
x = df[["sqft_living"]]
y = df["price"]

In [63]:

lr = LinearRegression()
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)
lr.fit(x_train.as_matrix().reshape((-1,1)),y_train)
lr.coef_
lr.score(x_test,y_test)
y_pred = lr.predict(x_test)
r=r2_score(y_test,y_pred)
print(r)
R=AdjR2(r,5)
R

0.5030774643470591

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

0.5029624732479586

In [67]:
x = df[["sqft_living","grade","bedrooms"]]
y = df["price"]

In [73]:
lr = LinearRegression()
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)
lr.fit(x_train,y_train)
lr.coef_
lr.score(x_test,y_test)
y_pred = lr.predict(x_test)
r=r2_score(y_test,y_pred)
print(r)
R=AdjR2(r,3)
R

0.5479951484363517

0.5479323961315392

In [74]:
x = df[["sqft_living","grade"]]
y = df["price"]

In [75]:
lr = LinearRegression()
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)
lr.fit(x_train,y_train)
lr.coef_
lr.score(x_test,y_test)
y_pred = lr.predict(x_test)
r=r2_score(y_test,y_pred)
print(r)
R=AdjR2(r,2)
R

0.5387212476176135

0.5386785563864814

In [77]:
x = df[["sqft_living"]]
y = df["price"]

In [78]:
lr = LinearRegression()
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)
lr.fit(x_train,y_train)
lr.coef_
lr.score(x_test,y_test)
y_pred = lr.predict(x_test)
r=r2_score(y_test,y_pred)
print(r)
R=AdjR2(r,1)
R

0.5030774643470591

0.5030544703840008