In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import skew
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [60]:
df=pd.read_csv("Automobile_data.csv")

In [61]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
width                205 non-null float64
height               205 non-null float64
engine-type          205 non-null object
engine-size          205 non-null int64
horsepower           205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [63]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [64]:
for col in df:
    col,'-',df[col].unique()
    print(col,'-',df[col].unique())

symboling - [ 3  1  2  0 -1 -2]
normalized-losses - ['?' '164' '158' '192' '188' '121' '98' '81' '118' '148' '110' '145' '137'
 '101' '78' '106' '85' '107' '104' '113' '150' '129' '115' '93' '142'
 '161' '153' '125' '128' '122' '103' '168' '108' '194' '231' '119' '154'
 '74' '186' '83' '102' '89' '87' '77' '91' '134' '65' '197' '90' '94'
 '256' '95']
make - ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']
fuel-type - ['gas' 'diesel']
body-style - ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
drive-wheels - ['rwd' 'fwd' '4wd']
engine-location - ['front' 'rear']
width - [64.1 65.5 66.2 66.4 66.3 71.4 67.9 64.8 66.9 70.9 60.3 63.6 63.8 64.6
 63.9 64.  65.2 62.5 66.  61.8 69.6 70.6 64.2 65.7 66.5 66.1 70.3 71.7
 70.5 72.  68.  64.4 65.4 68.4 68.3 65.  72.3 66.6 63.4 65.6 67.7 67.2
 68.9 68.8]
height - [48.8 52.4 54.3 53.1 55.7 55.9 52.  53.7 56.3 53.2 50.8 50.6 59.8 50.2
 52.6 54.5 58.3 53.3 54.1 51.  53.5 51.4 52.8 47.8 49.6 55.5 54.4 56.5
 58.7 54.9 56.7 55.4 54.8 49.4 51.6 54.7 55.1 56.1 49.7 56.  50.5 55.2
 52.5 53.  59.1 53.9 55.6 56.2 57.5]
engine-type - ['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
engine-size - [130 152 109 136 131 108 164 209  61  90  98 122 156  92  79 110 111 119
 258 326  91  70  80 140 134 183 234 308 304  97 103 120 181 151 194 203
 132 121 146 171 161 141 173 145]
horsepower - ['111' '154' '102' '115' '110' '140' '160' '101' '121' '182' '48' '70'
 '68' '88' '145' '58' '76' '60' '86' '100' '78' '90' '176' '262' '135'
 '84' '64' '120' '72' '123' '155' '184' '175' '116' '69' '55' '97' '152'
 '200' '95' '142' '143' '207' '288' '?' '73' '82' '94' '62' '56' '112'
 '92' '161' '156' '52' '85' '114' '162' '134' '106']
city-mpg - [21 19 24 18 17 16 23 20 15 47 38 37 31 49 30 27 25 13 26 36 22 14 45 28
 32 35 34 29 33]
highway-mpg - [27 26 30 22 25 20 29 28 53 43 41 38 24 54 42 34 33 31 19 17 23 32 39 18
 16 37 50 36 47 46]
price - [13495 16500 13950 17450 15250 17710 18920 23875 12000 16430 16925 20970
 21105 24565 30760 41315 36880  5151  6295  6575  5572  6377  7957  6229
  6692  7609  8558  8921 12964  6479  6855  5399  6529  7129  7295  7895
  9095  8845 10295 12945 10345  6785 10000 23000 11048 32250 35550 36000
  5195  6095  6795  6695  7395 10945 11845 13645 15645  8495 10595 10245
 10795 11245 18280 18344 25552 28248 28176 31600 34184 35056 40960 45400
 16503  5389  6189  6669  7689  9959  8499 12629 14869 14489  6989  8189
  9279  5499  7099  6649  6849  7349  7299  7799  7499  7999  8249  8949
  9549 13499 14399 17199 19699 18399 11900 13200 12440 13860 15580 16900
 16695 17075 16630 17950 18150 12764 22018 32528 34028 37028  9295  9895
 11850 12170 15040 15510 18620  5118  7053  7603  7126  7775  9960  9233
 11259  7463 10198  8013 11694  5348  6338  6488  6918  7898  8778  6938
  7198  7788  7738  8358  9258  8058  8238  9298  9538  8449  9639  9989
 11199 11549 17669  8948 10698  9988 10898 11248 16558 15998 15690 15750
  7975  7995  8195  9495  9995 11595  9980 13295 13845 12290 12940 13415
 15985 16515 18420 18950 16845 19045 21485 22470 22625]

In [65]:
normal=df["normalized-losses"].replace("?","nan",inplace=True)

In [66]:
df["normalized-losses"]=df["normalized-losses"].astype(float)

In [67]:
normal

In [68]:
normal_mean=df["normalized-losses"].mean()

In [69]:
normal_mean

122.0

In [70]:
df.fillna(normal_mean,inplace=True)

In [71]:
df["normalized-losses"]

0      122.0
1      122.0
2      122.0
3      164.0
4      164.0
5      122.0
6      158.0
7      122.0
8      158.0
9      122.0
10     192.0
11     192.0
12     188.0
13     188.0
14     122.0
15     122.0
16     122.0
17     122.0
18     121.0
19      98.0
20      81.0
21     118.0
22     118.0
23     118.0
24     148.0
25     148.0
26     148.0
27     148.0
28     110.0
29     145.0
       ...
175     65.0
176     65.0
177     65.0
178    197.0
179    197.0
180     90.0
181    122.0
182    122.0
183    122.0
184     94.0
185     94.0
186     94.0
187     94.0
188     94.0
189    122.0
190    256.0
191    122.0
192    122.0
193    122.0
194    103.0
195     74.0
196    103.0
197     74.0
198    103.0
199     74.0
200     95.0
201     95.0
202     95.0
203     95.0
204     95.0
Name: normalized-losses, Length: 205, dtype: float64

In [72]:
for col in df:
    col,'-',df[col].unique()
    print(col,'-',df[col].unique())

symboling - [ 3  1  2  0 -1 -2]
normalized-losses - [122. 164. 158. 192. 188. 121.  98.  81. 118. 148. 110. 145. 137. 101.
  78. 106.  85. 107. 104. 113. 150. 129. 115.  93. 142. 161. 153. 125.
 128. 103. 168. 108. 194. 231. 119. 154.  74. 186.  83. 102.  89.  87.
  77.  91. 134.  65. 197.  90.  94. 256.  95.]
make - ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']
fuel-type - ['gas' 'diesel']
body-style - ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
drive-wheels - ['rwd' 'fwd' '4wd']
engine-location - ['front' 'rear']
width - [64.1 65.5 66.2 66.4 66.3 71.4 67.9 64.8 66.9 70.9 60.3 63.6 63.8 64.6
 63.9 64.  65.2 62.5 66.  61.8 69.6 70.6 64.2 65.7 66.5 66.1 70.3 71.7
 70.5 72.  68.  64.4 65.4 68.4 68.3 65.  72.3 66.6 63.4 65.6 67.7 67.2
 68.9 68.8]
height - [48.8 52.4 54.3 53.1 55.7 55.9 52.  53.7 56.3 53.2 50.8 50.6 59.8 50.2
 52.6 54.5 58.3 53.3 54.1 51.  53.5 51.4 52.8 47.8 49.6 55.5 54.4 56.5
 58.7 54.9 56.7 55.4 54.8 49.4 51.6 54.7 55.1 56.1 49.7 56.  50.5 55.2
 52.5 53.  59.1 53.9 55.6 56.2 57.5]
engine-type - ['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
engine-size - [130 152 109 136 131 108 164 209  61  90  98 122 156  92  79 110 111 119
 258 326  91  70  80 140 134 183 234 308 304  97 103 120 181 151 194 203
 132 121 146 171 161 141 173 145]
horsepower - ['111' '154' '102' '115' '110' '140' '160' '101' '121' '182' '48' '70'
 '68' '88' '145' '58' '76' '60' '86' '100' '78' '90' '176' '262' '135'
 '84' '64' '120' '72' '123' '155' '184' '175' '116' '69' '55' '97' '152'
 '200' '95' '142' '143' '207' '288' '?' '73' '82' '94' '62' '56' '112'
 '92' '161' '156' '52' '85' '114' '162' '134' '106']
city-mpg - [21 19 24 18 17 16 23 20 15 47 38 37 31 49 30 27 25 13 26 36 22 14 45 28
 32 35 34 29 33]
highway-mpg - [27 26 30 22 25 20 29 28 53 43 41 38 24 54 42 34 33 31 19 17 23 32 39 18
 16 37 50 36 47 46]
price - [13495 16500 13950 17450 15250 17710 18920 23875 12000 16430 16925 20970
 21105 24565 30760 41315 36880  5151  6295  6575  5572  6377  7957  6229
  6692  7609  8558  8921 12964  6479  6855  5399  6529  7129  7295  7895
  9095  8845 10295 12945 10345  6785 10000 23000 11048 32250 35550 36000
  5195  6095  6795  6695  7395 10945 11845 13645 15645  8495 10595 10245
 10795 11245 18280 18344 25552 28248 28176 31600 34184 35056 40960 45400
 16503  5389  6189  6669  7689  9959  8499 12629 14869 14489  6989  8189
  9279  5499  7099  6649  6849  7349  7299  7799  7499  7999  8249  8949
  9549 13499 14399 17199 19699 18399 11900 13200 12440 13860 15580 16900
 16695 17075 16630 17950 18150 12764 22018 32528 34028 37028  9295  9895
 11850 12170 15040 15510 18620  5118  7053  7603  7126  7775  9960  9233
 11259  7463 10198  8013 11694  5348  6338  6488  6918  7898  8778  6938
  7198  7788  7738  8358  9258  8058  8238  9298  9538  8449  9639  9989
 11199 11549 17669  8948 10698  9988 10898 11248 16558 15998 15690 15750
  7975  7995  8195  9495  9995 11595  9980 13295 13845 12290 12940 13415
 15985 16515 18420 18950 16845 19045 21485 22470 22625]

In [73]:
df["horsepower"]

0      111
1      111
2      154
3      102
4      115
5      110
6      110
7      110
8      140
9      160
10     101
11     101
12     121
13     121
14     121
15     182
16     182
17     182
18      48
19      70
20      70
21      68
22      68
23     102
24      68
25      68
26      68
27     102
28      88
29     145
      ...
175     92
176     92
177     92
178    161
179    161
180    156
181    156
182     52
183     85
184     52
185     85
186     85
187     68
188    100
189     90
190     90
191    110
192     68
193     88
194    114
195    114
196    114
197    114
198    162
199    162
200    114
201    160
202    134
203    106
204    114
Name: horsepower, Length: 205, dtype: object

In [74]:
horsepower=df["horsepower"].replace("?","nan",inplace=True)
df["horsepower"]

0      111
1      111
2      154
3      102
4      115
5      110
6      110
7      110
8      140
9      160
10     101
11     101
12     121
13     121
14     121
15     182
16     182
17     182
18      48
19      70
20      70
21      68
22      68
23     102
24      68
25      68
26      68
27     102
28      88
29     145
      ...
175     92
176     92
177     92
178    161
179    161
180    156
181    156
182     52
183     85
184     52
185     85
186     85
187     68
188    100
189     90
190     90
191    110
192     68
193     88
194    114
195    114
196    114
197    114
198    162
199    162
200    114
201    160
202    134
203    106
204    114
Name: horsepower, Length: 205, dtype: object

In [75]:
df["horsepower"]=df["horsepower"].astype(float)

In [76]:
horsepower_mean=df["horsepower"].mean()

In [77]:
horsepower_mean

104.25615763546799

In [78]:
df=df.fillna(horsepower_mean)

In [79]:
df_num= df.select_dtypes(["int64","float64"])
df_num.corr()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price
symboling,1.000000,0.465190,-0.232919,-0.541038,-0.105790,0.071389,-0.035823,0.034606,-0.085781
normalized-losses,0.465190,1.000000,0.084195,-0.370706,0.110997,0.203434,-0.218749,-0.178221,0.133424
width,-0.232919,0.084195,1.000000,0.279210,0.735433,0.642195,-0.642704,-0.677218,0.718253
height,-0.541038,-0.370706,0.279210,1.000000,0.067149,-0.110137,-0.048640,-0.107358,0.132444
engine-size,-0.105790,0.110997,0.735433,0.067149,1.000000,0.810713,-0.653658,-0.677470,0.852995
horsepower,0.071389,0.203434,0.642195,-0.110137,0.810713,1.000000,-0.803162,-0.770903,0.746589
city-mpg,-0.035823,-0.218749,-0.642704,-0.048640,-0.653658,-0.803162,1.000000,0.971337,-0.654611
highway-mpg,0.034606,-0.178221,-0.677218,-0.107358,-0.677470,-0.770903,0.971337,1.000000,-0.679048
price,-0.085781,0.133424,0.718253,0.132444,0.852995,0.746589,-0.654611,-0.679048,1.000000

In [80]:
df_cat=df.select_dtypes("object")
df_cat.head()

          make fuel-type   body-style drive-wheels engine-location engine-type
0  alfa-romero       gas  convertible          rwd           front        dohc
1  alfa-romero       gas  convertible          rwd           front        dohc
2  alfa-romero       gas    hatchback          rwd           front        ohcv
3         audi       gas        sedan          fwd           front         ohc
4         audi       gas        sedan          4wd           front         ohc

In [81]:
from sklearn.preprocessing import LabelEncoder
for col in df_cat:
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [82]:
df_num.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,64.1,48.8,130,111.0,21,27,13495
1,3,122.0,64.1,48.8,130,111.0,21,27,16500
2,1,122.0,65.5,52.4,152,154.0,19,26,16500
3,2,164.0,66.2,54.3,109,102.0,24,30,13950
4,2,164.0,66.4,54.3,136,115.0,18,22,17450

In [83]:
df_cat.head()

   make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0     0          1           0             2                0            0
1     0          1           0             2                0            0
2     0          1           2             2                0            5
3     1          1           3             1                0            3
4     1          1           3             0                0            3

In [84]:
for col in df_cat:
    mm = MinMaxScaler()
    df_cat[col] = mm.fit_transform(df_cat[[col]])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [85]:
df_cat.head()

       make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0  0.000000        1.0        0.00           1.0              0.0     0.000000
1  0.000000        1.0        0.00           1.0              0.0     0.000000
2  0.000000        1.0        0.50           1.0              0.0     0.833333
3  0.047619        1.0        0.75           0.5              0.0     0.500000
4  0.047619        1.0        0.75           0.0              0.0     0.500000

In [86]:
df_new=pd.concat([df_num,df_cat],axis=1)

In [87]:
df_new.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,13495,0.000000,1.0,0.00,1.0,0.0,0.000000
1,3,122.0,64.1,48.8,130,111.0,21,27,16500,0.000000,1.0,0.00,1.0,0.0,0.000000
2,1,122.0,65.5,52.4,152,154.0,19,26,16500,0.000000,1.0,0.50,1.0,0.0,0.833333
3,2,164.0,66.2,54.3,109,102.0,24,30,13950,0.047619,1.0,0.75,0.5,0.0,0.500000
4,2,164.0,66.4,54.3,136,115.0,18,22,17450,0.047619,1.0,0.75,0.0,0.0,0.500000

In [88]:
df_new.corr()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
symboling,1.000000,4.651899e-01,-0.232919,-0.541038,-0.105790,0.071389,-0.035823,0.034606,-0.085781,-0.118794,0.194311,-0.596135,-0.041671,2.124709e-01,0.050372
normalized-losses,0.465190,1.000000e+00,0.084195,-0.370706,0.110997,0.203434,-0.218749,-0.178221,0.133424,-0.250975,0.101437,-0.250893,0.311032,4.281126e-19,-0.084203
width,-0.232919,8.419470e-02,1.000000,0.279210,0.735433,0.642195,-0.642704,-0.677218,0.718253,0.003783,-0.233880,0.131710,0.470751,-5.169764e-02,0.012298
height,-0.541038,-3.707060e-01,0.279210,1.000000,0.067149,-0.110137,-0.048640,-0.107358,0.132444,0.236233,-0.284631,0.568534,-0.019719,-1.062342e-01,-0.127002
engine-size,-0.105790,1.109969e-01,0.735433,0.067149,1.000000,0.810713,-0.653658,-0.677470,0.852995,-0.070918,-0.069594,-0.073352,0.524307,1.968263e-01,0.040766
horsepower,0.071389,2.034339e-01,0.642195,-0.110137,0.810713,1.000000,-0.803162,-0.770903,0.746589,-0.053654,0.165190,-0.152438,0.516936,3.176101e-01,0.010258
city-mpg,-0.035823,-2.187488e-01,-0.642704,-0.048640,-0.653658,-0.803162,1.000000,0.971337,-0.654611,0.053642,-0.255963,0.031697,-0.449581,-1.534875e-01,-0.085004
highway-mpg,0.034606,-1.782209e-01,-0.677218,-0.107358,-0.677470,-0.770903,0.971337,1.000000,-0.679048,0.050022,-0.191392,-0.007170,-0.452220,-1.020262e-01,-0.078456
price,-0.085781,1.334242e-01,0.718253,0.132444,0.852995,0.746589,-0.654611,-0.679048,1.000000,-0.163811,-0.108886,-0.069461,0.572872,3.292791e-01,0.072613
make,-0.118794,-2.509755e-01,0.003783,0.236233,-0.070918,-0.053654,0.053642,0.050022,-0.163811,1.000000,-0.113191,0.089494,-0.004317,5.460831e-02,-0.051538
fuel-type,0.194311,1.014370e-01,-0.233880,-0.284631,-0.069594,0.165190,-0.255963,-0.191392,-0.108886,-0.113191,1.000000,-0.147853,-0.132257,4.006951e-02,0.082695
body-style,-0.596135,-2.508926e-01,0.131710,0.568534,-0.073352,-0.152438,0.031697,-0.007170,-0.069461,0.089494,-0.147853,1.000000,-0.155745,-2.770093e-01,-0.037024
drive-wheels,-0.041671,3.110317e-01,0.470751,-0.019719,0.524307,0.516936,-0.449581,-0.452220,0.572872,-0.004317,-0.132257,-0.155745,1.000000,1.478645e-01,-0.116823
engine-location,0.212471,4.281126e-19,-0.051698,-0.106234,0.196826,0.317610,-0.153487,-0.102026,0.329279,0.054608,0.040070,-0.277009,0.147865,1.000000e+00,0.114127
engine-type,0.050372,-8.420287e-02,0.012298,-0.127002,0.040766,0.010258,-0.085004,-0.078456,0.072613,-0.051538,0.082695,-0.037024,-0.116823,1.141270e-01,1.000000

In [89]:
x = df_new.drop("price",axis=1)
y = df["price"]

In [90]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [91]:
lr = LinearRegression()
lr.fit(x_train,y_train)
lr.score(x_test,y_test)

0.7965566780397388

In [92]:
y_pred = lr.predict(x_test)
y_pred

array([ 6147.97177535,  6877.02018581,  5163.92272988,  6529.64152282,
        9097.48416127, 26360.34172002,  7459.86435141,   877.82049881,
        5144.01614104, 13519.72327075, 15450.90944825, 14432.86068487,
       16383.3823446 , 11141.26580437, 16456.45835103, 13899.96152052,
        7470.89015168,  8822.10978266, 10871.71907185,  7575.62315193,
       10982.8020501 ,  6830.55418791, 13695.54356268,  6367.05540369,
       13729.72634597,  8822.10978266, 15020.54539526,  6519.17466513,
        4748.87641153,  9309.57917764,  8168.78349461, 14331.33093265,
       25640.12934796, 11908.15949477, 19763.97916514,  6562.05039495,
        8169.68530317, 30669.00442191,  9815.72891291, 16913.4988703 ,
        6488.35956878, 20293.75457963,  7703.43107067,  8440.48221513,
        8644.09950215,  7183.23963857, 40496.63165103,  7556.38024834,
       17202.53531151, 18961.11466889, 26165.68818112, 16952.9687522 ,
       21835.40141131,  6217.42536906, 13103.73962425,  7263.42333164,
       11008.38626844, 11229.0050243 , 22671.49360937,  8339.01866916,
        9507.83932434, 11200.8150837 ])

In [93]:
from sklearn.feature_selection import chi2
#chi square test doesnt take negative values
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import SelectKBest

In [94]:
annova=SelectKBest(score_func=f_regression,k=6)
#chi=SelecKBest(score_func=chi,k=7)

In [95]:
x_train_f=annova.fit_transform(x_train,y_train)

In [96]:
x_test_f=annova.transform(x_test)

In [97]:
lin_annova=LinearRegression()

In [98]:
lin_annova.fit(x_train_f,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [99]:
lin_annova.score(x_test_f,y_test)

0.7982503502453704

In [100]:
def AdjR2(r2,k):
    n=len(x_test)
    adjr2=1-(1-r2)*((n-1)/(n-(k+1)))
    return adjr2

In [113]:
columns=[]
i=1
for col in x:
    columns.append(col)
    
    x_new=df_new[columns]
    x_train,x_test,y_train,y_test = train_test_split(x_new,y,test_size=0.3,random_state=1)
    lr=LinearRegression()
    lr.fit(x_train,y_train)
    r2=lr.score(x_test,y_test)
    adj_r2=AdjR2(i,r2)
    print(i,"->",r2,"->",adj_r2)
    i=i+1

1 -> -0.0017837050450488778 -> 1.0
2 -> 0.041612508167990114 -> 2.00068263794172
3 -> 0.6171737569085427 -> 3.020442029474536
4 -> 0.6183283499764456 -> 4.030720995282823
5 -> 0.7589560567217416 -> 5.050394615168778
6 -> 0.7741546338326669 -> 6.06427096449422
7 -> 0.7768961441883279 -> 7.077401803737821
8 -> 0.7777776382689496 -> 8.09040588763364
9 -> 0.7924572281432334 -> 9.105296737473054
10 -> 0.7948545416112248 -> 10.118821918293435
11 -> 0.7972954924014395 -> 11.132435161995224
12 -> 0.8135463420259225 -> 12.148688105352416
13 -> 0.7934456703438281 -> 13.158144709494461
14 -> 0.7965566780397388 -> 14.172004062278267

In [117]:
from sklearn.decomposition import PCA

In [144]:
pc=PCA(n_components=12,random_state=1)

In [145]:
x = df_new.drop("price",axis=1)
y = df["price"]
x_train,x_test,y_train,y_test = train_test_split(x_new,y,test_size=0.3,random_state=1)
x_train_pca=pc.fit_transform(x_train,y_train)

In [146]:
x_test_pca=pc.transform(x_test)

In [147]:
lin_pc=LinearRegression()
lin_pc.fit(x_train_pca,y_train)
lin_pc.score(x_test_pca,y_test)

0.8105393816600117

In [149]:
 ### scaling gives best result in principal component analysis....